body{
    margin: 0;
    padding: 0;
    background-color: #edede9;

    
    background-image: url(../imgs/les-jardins-et-le-chateau-du-touvet-photo-frederick-pattou.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
/* .collapse{
    display: flex;
    justify-content: flex-end;
} */

/* i{
    font-size: 5em;
} */
 